*{
	margin:0;
	padding:0; 
}

#total{
	float: left;
	margin-top:10px;
	margin-left:300px;
	width: 350px;
	height: 500px;
	text-align: left;
}

ul{
	margin-left: 10px;
	list-style-position: inside;
	width: 300px;
}

#div1{
	border:2px solid black;
	margin-bottom: 10px;
	background-color: greenyellow;
}

#div2{
	border:2px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: pink;
}


#btnlist{
	float: left;
	margin-left: 50px;
	margin-top: 10px;
}

button{
	width: 200px;
	height: 30px;
	margin-bottom: 10px;
}